<video-player-control-seek-bar></video-player-control-seek-bar>
<div class="control-bottom-items-left">
  <video-player-control-play class="control-bottom-item"></video-player-control-play>
  <video-player-control-next class="control-bottom-item"></video-player-control-next>
  <video-player-control-volume class="control-bottom-item"></video-player-control-volume>
  <video-player-control-time-box class="control-bottom-item"></video-player-control-time-box>
</div>
<div class="control-bottom-items-right">
  <video-player-control-full-screen class="control-bottom-item"></video-player-control-full-screen>
</div>
