#video-player {
  width: 640px;
  height: 360px;
  position: relative;
  video {
    width: inherit;
    height: inherit;
  }
  video::-webkit-media-controls-enclosure {
    display: none !important;
  }
  .video-player-controls {
    position: absolute;
    width: calc(100% - 20px);
    height: 45px;
    color: white;
    background: rgba(0,0,0,0.7);
    bottom: 0;
    padding: 0 10px;
  }
}
