.seek-bar {
  position: relative;
  #seek {
    outline: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    cursor: pointer;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    z-index: 80;
    background: transparent;
  }
  #seek::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    height: 12px;
    width: 12px;
    background: red;
    cursor: pointer;
    border-radius: 50%;
    border: none;
  }
  #seek::-moz-range-thumb {
    -moz-appearance: none !important;
    height: 12px;
    width: 12px;
    background: red;
    cursor: pointer;
    border-radius: 50%;
    border: none;
  }
  #seek-red, #seek-white {
    position: absolute;
    height: 3px;
    top: 2px;
  }
  #seek-red {
    background: red;
    z-index: 70;
  }
  #seek-white {
    background: rgba(255,255,255,0.3);
    z-index: 60;
    width: 100%;
  }
}