.volume-box {
  height: 100%;
  width: 100%;
  .mute-btn {
    padding-right: 10px;
    cursor: pointer;
    height: 100%;
    float: left;
    i {
      font-size: 24px;
      padding: 3px
    }
  }
  .volume-bar {
    display: none;
    width: 100px;
    height: 30px;
    float: left;
    position: relative;
    #volume-slider {
      outline: 0;
      position: absolute;
      width: 100%;
      margin: 13.5px 0;
      height: 3px;
      cursor: pointer;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      z-index: 80;
      background: transparent;
    }
    #volume-slider::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      height: 12px;
      width: 12px;
      background: red;
      cursor: pointer;
      border-radius: 50%;
      border: none;
    }
    #volume-slider::-moz-range-thumb {
      -moz-appearance: none !important;
      height: 12px;
      width: 12px;
      background: red;
      cursor: pointer;
      border-radius: 50%;
      border: none;
    }
    #volume-red, #volume-white {
      position: absolute;
      height: 3px;
      margin: 13.5px 0;
    }
    #volume-red {
      background: red;
      z-index: 70;
    }
    #volume-white {
      background: rgba(255,255,255,0.3);
      z-index: 60;
      width: 100%;
    }
  }
}
.volume-box:hover .volume-bar {
  display: block;
}


