$volume-bar-width: 90px;

.volume-box {
  height: 100%;
  width: 100%;
  .mute-btn {
    cursor: pointer;
    height: 100%;
    float: left;
    i {
      font-size: 24px;
      padding: 3px
    }
  }
  
  .volume-bar {
    display: none;
    width: $volume-bar-width;
    height: 30px;
    float: left;
    #volume-slider {
      outline: 0;
      position: absolute;
      width: $volume-bar-width;
      margin: 13.5px 0;
      height: 3px;
      cursor: pointer;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      z-index: 80;
      background: transparent;
    }
    #volume-slider::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: red;
      transition: 0.5s ease-in-out forwards;
      cursor: pointer;
      opacity: 0;
    }
    #volume-slider::-moz-range-thumb {
      -moz-appearance: none !important;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: red;
      transition: 0.5s ease-in-out forwards;
      cursor: pointer;
      opacity: 0;
    }
    #volume-slider:hover::-webkit-slider-thumb {
      opacity: 1;
    }
    #volume-slider:hover::-moz-range-thumb {
      opacity: 1;
    }
    #volume-red, #volume-white {
      position: absolute;
      height: 3px;
      margin: 13.5px 0;
    }
    #volume-red {
      background: red;
      z-index: 70;
    }
    #volume-white {
      background: white;
      z-index: 60;
      width: $volume-bar-width;
    }
  }
}

.volume-box:hover .volume-bar {
  display: block;
}


